<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--
    meta tags
    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--
    title tag
    -->
    <title>AdsMetrika - End-to-end analytics</title>

    <!--
    favicon
    -->

    <link rel="icon" type="image/x-icon" th:href="@{../assets/favicon.ico}">

    <link rel="manifest" th:href="@{../assets/images/favicon/site.webmanifest}">

    <!--
    stylesheets
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{../assets/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../assets/css/glightbox.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../assets/css/all.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../assets/css/line-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../assets/css/overlay-scrollbars.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../assets/css/swiper-bundle.min.css}">

    <link rel="stylesheet" type="text/css" th:href="@{../assets/css/style.css}">
</head>
<body>

    <div class="main-wrapper">

        <div class="preloader">
            <div class="preloader-wrapper">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                     viewBox="0 0 200 200">
                    <g class="pre load6">
                        <path fill="#1B1A1C" d="M124.5,57L124.5,57c0,3.9-3.1,7-7,7h-36c-3.9,0-7-3.1-7-7v0c0-3.9,3.1-7,7-7h36
                C121.4,50,124.5,53.1,124.5,57z"/>
                        <path fill="#1B1A1C" d="M147.7,86.9L147.7,86.9c-2.7,2.7-7.2,2.7-9.9,0l-25.5-25.5c-2.7-2.7-2.7-7.2,0-9.9l0,0
                c2.7-2.7,7.2-2.7,9.9,0L147.7,77C150.5,79.8,150.5,84.2,147.7,86.9z"/>
                        <path fill="#1B1A1C" d="M143,74.5L143,74.5c3.9,0,7,3.1,7,7v36c0,3.9-3.1,7-7,7l0,0c-3.9,0-7-3.1-7-7v-36
                C136,77.6,139.1,74.5,143,74.5z"/>
                        <path fill="#1B1A1C" d="M148.4,112.4L148.4,112.4c2.7,2.7,2.7,7.2,0,9.9L123,147.7c-2.7,2.7-7.2,2.7-9.9,0h0c-2.7-2.7-2.7-7.2,0-9.9
                l25.5-25.5C141.3,109.6,145.7,109.6,148.4,112.4z"/>
                        <path fill="#1B1A1C" d="M125.5,143L125.5,143c0,3.9-3.1,7-7,7h-36c-3.9,0-7-3.1-7-7l0,0c0-3.9,3.1-7,7-7h36 C122.4,136,125.5,139.1,125.5,143z"/>
                        <path fill="#1B1A1C" d="M52.3,113.1L52.3,113.1c2.7-2.7,7.2-2.7,9.9,0l25.5,25.5c2.7,2.7,2.7,7.2,0,9.9h0c-2.7,2.7-7.2,2.7-9.9,0
                L52.3,123C49.5,120.2,49.5,115.8,52.3,113.1z"/>
                        <path fill="#1B1A1C" d="M57,75.5L57,75.5c3.9,0,7,3.1,7,7v36c0,3.9-3.1,7-7,7h0c-3.9,0-7-3.1-7-7v-36C50,78.6,53.1,75.5,57,75.5z"/>
                        <path fill="#1B1A1C" d="M86.9,52.3L86.9,52.3c2.7,2.7,2.7,7.2,0,9.9L61.5,87.6c-2.7,2.7-7.2,2.7-9.9,0l0,0c-2.7-2.7-2.7-7.2,0-9.9
                L77,52.3C79.8,49.5,84.2,49.5,86.9,52.3z"/>
                    </g>
                </svg>
            </div>
        </div>
    <!--
    navigation - start
    -->
    <div class="navigation">
        <div class="navigation-wrapper">
            <div class="container">
                <div style="height:20px;" class="navigation-inner">
                    <div class="navigation-logo">
                        <a href="index.html">
                            <img style="height: 40px" th:src="@{../assets/images/logo.png}" alt="orions-logo">
                        </a>
                    </div>
                    <div class="navigation-menu">
                        <div class="mobile-header">
                            <div class="logo">
                                <a href="index.html">
                                    <img th:src="@{../assets/images/logo-white.png}" alt="image">
                                </a>
                            </div>
                            <ul>
                                <li class="close-button">
                                    <i class="fas fa-times"></i>
                                </li>
                            </ul>
                        </div>
                        <ul class="parent">
                            <li>
                                <a id="datepicker" href="#login" onclick="document.querySelector('.navigation').classList.remove('shown');" class="link-underline link-underline-1">
                                    <span>Login</span>
                                </a>
                            </li>
                            <li>
                                <a id="datepicker" href="#reg" onclick="document.querySelector('.navigation').classList.remove('shown');" class="link-underline link-underline-1">
                                    <span>Registration</span>
                                </a>
                            </li>

                        </ul>
                        <div class="social">
                            <h6>Follow</h6>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="background-pattern">
                            <div class="background-pattern-img background-loop" style="background-image: url(assets/images/patterns/pattern.jpg);"></div>
                            <div class="background-pattern-gradient"></div>
                        </div>
                    </div>
                    <div class="navigation-bar">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--
    navigation - end
    -->

    <!--
    hero 1 - start
    -->
        <div class="hero hero-1">
            <div class="hero-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-0 order-lg-1 col-10 offset-1 order-2">
                            <div id="login" class="hero-content">
                                <h1 class="c-dark"> end-to-end analytics service</h1>
                                <p class="large c-grey">To track, analyze, optimize and scale online advertising campaigns and affiliate programs in real-time.
                                    Supports <b>ExoClick.com</b> and <b>TrafficFactory.com</b> ad networks.</p>

                            <div th:if="${success}">
                                <br><br>
                                <p class="large" style="color: #2dc26b">Your account has been activated successfully. You can now login.</p>
                            </div>
                            <form name="f" method="post" action="/process_login">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                                <div class="form-floating">
                                    <input class="input form-control" name="username" id="username" type="text" placeholder="Username">
                                    <label for="username">Username</label>
                                </div>
                                <div class="form-floating">
                                    <input class="input form-control" name="password" id="password" type="password" placeholder="Password">
                                    <label for="password">Password</label>
                                </div>
                                <br/>
                                <p class="large" th:if="${param.error}" style="color: red">
                                    Wrong username or password
                                </p>
                                <button type="submit" onclick="document.querySelector('.preloader').classList.remove('loaded');" class="button button-3">
                                       <span class="button-inner">
                                           <span class="button-content">
                                               <span class="text">Login</span>
                                           </span>
                                       </span>
                                </button>
                            </form>
                        </div>
                    </div>
                <div class="col-lg-6 offset-lg-0 order-lg-2 col-10 offset-1 order-1">
                    <div class="hero-image">
                        <img class="drop-shadow" th:src="@{../assets/images/hero-phone.png}" alt="image">
                        <div class="hero-absolute-image">
                            <img th:src="@{../assets/images/Artwork.png}" alt="artwork">
                        </div>
                    </div>
                </div>
                </div>

            </div>
        </div>
    </div>
    <!--
    hero 1 - end
    -->

    <!--
    app features wide section - start
    -->
    <div style="margin-top: 50px;" class="app-feature app-feature-1">
        <div class="app-feature-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 offset-lg-0 col-10 offset-1">
                        <div class="section-heading center width-64">
                            <div class="sub-heading c-blue upper ls-1">
                                <i class="las la-cog"></i>
                                <h5>Features</h5>
                            </div>
                            <div class="main-heading c-dark">
                                <h1>What tasks AdsMetrika end-to-end analytics solves?
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="large c-grey">
                    Tracking statistics is the main job of a CPA marketer. Many advertising networks and affiliate programs do not provide an API for connecting third-party trackers. To do this, the Ads Metrika service has been created, combining statistics from advertising platforms - trafficfactory.com and exoclick.com with an affiliate network Adcombo.com                </p>
            </div>
        </div>
    </div>
    <!--
    app features wide section - end
    -->



    <!--
    feature section - start
    -->
    <div class="feature-section feature-section-0 feature-section-spacing-1">
        <div class="feature-section-wrapper">
            <div class="container">
                <div class="row gx-5">
                    <div class="col-lg-7 offset-lg-0 order-lg-1 col-md-8 offset-md-2 col-10 offset-1 order-2">
                        <div class="feature-section-content">
                            <div class="section-heading">

                                <div class="main-heading c-dark">
                                    <h1>Combine your statistics. </h1>
                                </div>
                            </div>
                            <p class="c-grey">You get complete data on any of your campaigns in real time</p>
                            <div class="icon-text-group">
                                <div class="icon-text">
                                    <i class="las la-server"></i>
                                    <h4 class="c-dark">Shows the effectiveness of ads</h4>
                                    <p class="c-grey">You will discover ads that are paying off and making you money, but not just leads and clicks.</p>
                                </div>
                                <div class="icon-text">
                                    <i class="las la-user-shield"></i>
                                    <h4 class="c-dark">Collects data in the same interface</h4>
                                    <p class="c-grey">Track the most important for your business metrics in one easy-to-understand report.</p>
                                </div>
                            </div>
                            <a href="contact.html" class="button button-2">
                                <div class="button-inner">
                                    <div class="button-content">
                                        <h4>Get Started</h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-5 offset-lg-0 order-lg-2 col-10 offset-1 order-1">
                        <div class="feature-section-image">
                            <img th:src="@{../assets/images/feature-section-1-img.png}" class="image" alt="image">
                            <img th:src="@{../assets/images/feature-section-1-phone.png}" class="phone" alt="phone">
                            <div class="background-pattern background-pattern-radius">
                                <div class="background-pattern-img background-loop" style="background-image: url(assets/images/patterns/pattern.jpg);"></div>
                                <div class="background-pattern-gradient"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--
    feature section - end
    -->

    <!--
    feature section - start
    -->
    <div class="feature-section feature-section-1 feature-section-spacing-2">
        <div class="feature-section-wrapper">
            <div class="container">
                <div class="row gx-5">
                    <div class="col-lg-5 offset-lg-0 col-10 offset-1">
                        <div class="feature-section-image">
                            <img th:src="@{../assets/images/feature-section-2-img.png}" class="image" alt="image">
                            <img th:src="@{../assets/images/feature-section-2-phone.png}" class="phone" alt="phone">
                            <div class="background-pattern background-pattern-radius-reverse">
                                <div class="background-pattern-img background-loop" style="background-image: url(assets/images/patterns/pattern.jpg);"></div>
                                <div class="background-pattern-gradient"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 offset-lg-1 col-md-8 offset-md-2 col-10 offset-1">
                        <div class="feature-section-content">
                            <div class="section-heading">
                                <div class="sub-heading c-blue upper ls-1">
                                    <i class="las la-cog"></i>
                                    <h5>app features</h5>
                                </div>
                                <div class="main-heading c-dark">
                                    <h1>Accessible from everywhere.</h1>
                                </div>
                            </div>
                            <div class="icon-text-1-group">
                                <div class="icon-text-1">
                                    <i class="las la-comments"></i>
                                    <div>
                                        <h4 class="c-dark">Responsive design</h4>
                                        <p class="c-grey">Track the indicators both in the desktop version and in the mobile version</p>
                                    </div>
                                </div>
                                <div class="icon-text-1">
                                    <i class="las la-headset"></i>
                                    <div>
                                        <h4 class="c-dark">Track</h4>
                                        <p class="c-grey">Keep track of income and expenses</p>
                                    </div>
                                </div>
                                <div class="icon-text-1">
                                    <i class="las la-photo-video"></i>
                                    <div>
                                        <h4 class="c-dark">Optimize</h4>
                                        <p class="c-grey">Look at the ROI and profit indicators of your campaigns</p>
                                    </div>
                                </div>
                            </div>
                            <a href="contact.html" class="button button-3">
                                <div class="button-inner">
                                    <div class="button-content">
                                        <h4>Get Started</h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--
    feature section - end
    -->

    <!--
    faq section - start
    -->
    <div class="faq-section">
        <div class="faq-section-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-10 offset-xxl-1 col-lg-12 offset-lg-0 col-10 offset-1">
                        <div class="section-heading center width-64">
                            <div class="sub-heading c-blue upper ls-1">
                                <i class="las la-file-alt"></i>
                                <h5>discover</h5>
                            </div>
                            <div class="main-heading c-dark">
                                <h1>Some questions</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-9 col-md-8 col-10">
                        <div class="faq-wrapper">
                            <div class="faq" id="faq-accordion">
                                <!--
                                accordion item - start
                                -->
                                <div class="accordion-item">
                                    <div class="accordion-header" id="faq-1">
                                      <button
                                      class="accordion-button collapsed"
                                      type="button"
                                      data-bs-toggle="collapse"
                                      data-bs-target="#faq-collapse-1"
                                      aria-expanded="true"
                                      aria-controls="faq-collapse-1">
                                        <span>Can I try AdsMetrika before I buy?</span>
                                      </button>
                                    </div>
                                    <div
                                    id="faq-collapse-1"
                                    class="accordion-collapse collapse"
                                    aria-labelledby="faq-1"
                                    data-bs-parent="#faq-accordion">
                                      <div class="accordion-body">
                                        <p>This is a free service</p>
                                      </div>
                                    </div>
                                </div>
                                <!--
                                accordion item - end
                                -->
                                <!--
                                accordion item - start
                                -->
                                <div class="accordion-item">
                                    <div class="accordion-header" id="faq-2">
                                      <button
                                      class="accordion-button"
                                      type="button"
                                      data-bs-toggle="collapse"
                                      data-bs-target="#faq-collapse-2"
                                      aria-expanded="true"
                                      aria-controls="faq-collapse-2">
                                        <span>Will new networks be added?</span>
                                      </button>
                                    </div>
                                    <div
                                    id="faq-collapse-2"
                                    class="accordion-collapse collapse show"
                                    aria-labelledby="faq-2"
                                    data-bs-parent="#faq-accordion">
                                      <div class="accordion-body">
                                        <p>Maybe</p>
                                      </div>
                                    </div>
                                </div>
                                <!-- End block -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--
    faq section - end
    -->

    <!--
    contact form section - start
    -->
    <div id="reg" class="contact-form-section contact-form-section-1">
        <div class="contact-form-section-wrapper">
            <div class="container">
                <div class="row gx-5 contact-form-section-row">
                    <div class="col-lg-12 offset-lg-0 col-md-8 offset-md-2 col-10 offset-1">
                        <!--
                        contact form - start
                        -->
                        <div  class="contact-form drop-shadow-2">
                            <div class="contact-form-wrapper">
                                <div class="section-heading section-heading-2 center">
                                    <div class="sub-heading c-blue upper ls-1">
                                        <i class="las la-envelope"></i>
                                        <h5>AdsMetrika</h5>
                                    </div>
                                    <div class="main-heading c-dark">
                                        <h1>Simple Registration</h1>
                                    </div>
                                </div>
                                <form th:method="POST" th:action="@{/auth/login}" th:object="${person}">
                                    <div class="form-floating">
                                        <input class="input form-control" th:field="*{username}" id="name-field" type="text" placeholder="Full name">
                                        <label for="name-field">Username</label>
                                        <p style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</p>
                                    </div>
                                    <div class="form-floating">
                                        <input class="input form-control" th:field="*{password}"  id="message-field" type="password" placeholder="Message">
                                        <label for="message-field">Password</label>
                                        <p style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>
                                    </div>
                                    <button type="submit" class="button button-3">
                                        <span class="button-inner">
                                            <span class="button-content">
                                                <span class="text">Register</span>
                                            </span>
                                        </span>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <!--
                        contact form - end
                        -->
                    </div>
                </div>
            </div>
            <div class="contact-form-section-pattern">
                <div class="left" style="background-image: url('assets/images/Artwork-left.png');"></div>
                <div class="right" style="background-image: url('assets/images/Artwork-right.png');"></div>
            </div>
        </div>
    </div>
    <!--
    contact form section - end
    -->

    <!--
    footer - start
    -->
    <footer class="footer">
        <div class="footer-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 offset-lg-0 col-md-8 offset-md-2 col-10 offset-1">
                        <div class="footer-row">
                            <div class="footer-detail">
                                <a href="#">
                                    <img th:src="@{../assets/images/logo.png}" alt="footer-logo">
                                </a>
                                <p class="c-grey-1"></p>
                                <div class="links">
                                    <a class="link-underline" href="mailto:hello@orions.com">
                                        <span>89992008819@mail.ru</span>
                                    </a>
                                    <a class="link-underline" href="tel:+79992008819">
                                        <span>8 (999) 200-88-19</span>
                                    </a>
                                </div>
                            </div>
                            <div class="footer-list footer-social social-gradient">
                                <h6>Follow</h6>
                                <ul>
                                    <li class="twitter">
                                        <a href="#" class="link-underline">
                                            <i class="fab fa-github"></i>
                                            <span>Github</span>
                                        </a>
                                    </li>
                                    <li class="facebook">
                                        <a href="#" class="link-underline">
                                            <i class="fab fa-facebook"></i>
                                            <span>Facebook</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 offset-lg-0 col-md-8 offset-md-2 col-10 offset-1">
                        <div class="footer-copyright c-grey-1">
                            <h6>&copy; GFXPARTNER</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-pattern" style="background-image: url(assets/images/patterns/pattern-1.jpg)"></div>
        </div>
    </footer>
    <!--
    footer - end
    -->

    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var isInlineEdit = [[${hasError} != null ? true:false]];
        if(isInlineEdit){
            location.href = "#reg";
        }
        /*]]>*/
    </script>
    <!--
    scripts
    -->
    <script th:src="@{../assets/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{../assets/js/swiper-bundle.min.js}"></script>
    <script th:src="@{../assets/js/glightbox.min.js}"></script>
    <script th:src="@{../assets/js/overlay-scrollbars.min.js}"></script>
    <script th:src="@{../assets/js/gsap.min.js}"></script>
    <script th:src="@{../assets/js/main.js}"></script>

</body>
</html>
