<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <title>Report | AdsMetrika - End-to-End analytics service </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description"/>
    <meta content="Themesdesign" name="author"/>
    <!-- App favicon -->
    <link rel="icon" type="image/x-icon" href="../assets/favicon.ico">

    <link rel="stylesheet" type="text/css" href="../assets/libs/toastr/build/toastr.min.css">

    <!-- jquery.vectormap css -->
    <link href="../assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet"
          type="text/css"/>

    <!-- DataTables -->
    <link href="../assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet"
          type="text/css"/>

    <!-- Responsive datatable examples -->
    <link href="../assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet"
          type="text/css"/>

    <!-- Bootstrap Css -->
    <link href="../assets/css/bootstrap-dark.min.css" id="bootstrap-style" rel="stylesheet" type="text/css"/>
    <!-- Icons Css -->
    <link href="../assets/css/icons.min.css" rel="stylesheet" type="text/css"/>
    <!-- App Css-->
    <link href="../assets/css/app-dark.min.css" id="app-style" rel="stylesheet" type="text/css"/>

</head>

<body data-topbar="dark">

<div id="preloader">
    <div id="status">
        <div class="spinner">
            <i class="ri-loader-line spin-icon"></i>
        </div>
    </div>
</div>

<!-- <body data-layout="horizontal" data-topbar="dark"> -->

<!-- Begin page -->
<div id="layout-wrapper">


    <header id="page-topbar">
        <div class="navbar-header">
            <div class="d-flex">
                <!-- LOGO -->
                <div class="navbar-brand-box">
                    <a href="/statistics" class="logo logo-dark">
                                <span class="logo-sm">
                                    <img src="assets/images/logo-sm.png" alt="logo-sm" height="36">
                                </span>
                        <span style="height: 36px;"  class="logo-lg">
                                    <img src="assets/images/logo-dark.png" alt="logo-dark" height="36">
                                </span>
                    </a>

                    <a href="/statistics" class="logo logo-light">
                                <span class="logo-sm">
                                    <img src="assets/images/logo-sm.png" alt="logo-sm-light" height="36">
                                </span>
                        <span class="logo-lg">
                                    <img src="assets/images/logo-light.png" alt="logo-light" height="36">
                                </span>
                    </a>
                </div>

                <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect"
                        id="vertical-menu-btn">
                    <i class="ri-menu-2-line align-middle"></i>
                </button>

                <!-- App Search-->
                <form class="app-search d-none d-lg-block">
                    <div class="position-relative">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="ri-search-line"></span>
                    </div>
                </form>

            </div>
            <div class="d-flex">

                <div class="dropdown d-inline-block d-lg-none ms-2">
                    <button type="button" class="btn header-item noti-icon waves-effect"
                            id="page-header-search-dropdown"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="ri-search-line"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                         aria-labelledby="page-header-search-dropdown">

                        <form class="p-3">
                            <div class="mb-3 m-0">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search ...">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit"><i class="ri-search-line"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="dropdown d-none d-lg-inline-block ms-1">
                    <button type="button" class="btn header-item noti-icon waves-effect" data-toggle="fullscreen">
                        <i class="ri-fullscreen-line"></i>
                    </button>
                </div>

                <div class="dropdown d-inline-block user-dropdown">
                    <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="rounded-circle header-profile-user" src="assets/images/users/avatar-1.jpg"
                             alt="Header Avatar">
                        <span th:text="${username}" class="d-none d-xl-inline-block ms-1">Username</span>
                        <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end">
                        <!-- item-->
                        <a class="dropdown-item" href="/offers}"><i class="ri-user-line align-middle me-1"></i> Offers</a>
                        <div class="dropdown-divider"></div>

                        <form th:action="@{/logout}" th:method="POST">
                            <input class="dropdown-item text-danger"  type="submit" value="Logout">
                        </form>
                    </div>
                </div>

                <div class="dropdown d-inline-block">
                    <button type="button" class="btn header-item noti-icon right-bar-toggle waves-effect">
                        <i class="ri-settings-2-line"></i>
                    </button>
                </div>

            </div>
        </div>
    </header>

    <!-- ========== Left Sidebar Start ========== -->
    <div class="vertical-menu">

        <div data-simplebar class="h-100">


            <!--- Sidemenu -->
            <div id="sidebar-menu">
                <!-- Left Menu Start -->
                <ul class="metismenu list-unstyled" id="side-menu">
                    <li class="menu-title">Menu</li>

                    <li>
                        <a id="datepicker7" href="/statistics" class=" waves-effect">
                            <i class="ri-dashboard-line"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="ri-mail-send-line"></i>
                            <span>Statistics</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="/campaigns?network=TF">Traffic Factory</a></li>
                            <li><a href="/campaigns?network=EXO">ExoClick</a></li>
                        </ul>
                    </li>

                    <li>
                        <a id="datepicker8" href="/report" class="active waves-effect">
                            <i class="ri-table-2"></i>
                            <span>Report</span>
                        </a>
                    </li>


                    <li class="menu-title">Settings</li>

                    <li>
                        <a href="/offers" class="waves-effect">
                            <i class="ri-calendar-2-line"></i>
                            <span>Offers</span>
                        </a>
                    </li>

                    <li class="menu-title">Networks</li>

                    <li>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#myModal" class=" waves-effect">
                            <i class="ri-account-circle-line"></i>
                            <span th:if="${credentialsADCOMBO.getUsername()==null}" class="badge rounded-pill bg-danger float-end">NO</span>
                            <span th:unless="${credentialsADCOMBO.getUsername()==null}" class="badge rounded-pill bg-success float-end">OK</span>
                            <span>Adcombo</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#myModal2" class=" waves-effect">
                            <i class="ri-account-circle-line"></i>
                            <span th:if="${credentialsTF.getUsername()==null}" class="badge rounded-pill bg-danger float-end">NO</span>
                            <span th:unless="${credentialsTF.getUsername()==null}" class="badge rounded-pill bg-success float-end">OK</span>
                            <span>TrafficFactory</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#myModal3" class=" waves-effect">
                            <i class="ri-account-circle-line"></i>
                            <span th:if="${credentialsEXO.getUsername()==null}" class="badge rounded-pill bg-danger float-end">NO</span>
                            <span th:unless="${credentialsEXO.getUsername()==null}" class="badge rounded-pill bg-success float-end">OK</span>
                            <span>ExoClick</span>
                        </a>
                    </li>

                </ul>
            </div>
            <!-- Sidebar -->
        </div>
    </div>
    <!-- Left Sidebar End -->


    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 th:text="'Report ('+${dates}+')'" class="mb-sm-0">Report</h4>
                            <a id="datepicker1" href="/report?type=daily">Daily report</a>
                            <a id="datepicker2" href="/report?type=month">Monthly report</a>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Report</a></li>
                                    <li class="breadcrumb-item active">AdsMetrika</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->


                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body">
                                <div style="margin-bottom: 50px;" class="table-responsive">
                                    <table data-order='[]' id="datatable-buttons" class="table mb-0">
                                        <thead class="table-light">
                                        <tr>
                                            <th>Offer name</th>
                                            <th>Clicks</th>
                                            <th>Cost $</th>
                                            <th>Hold</th>
                                            <th>Leads</th>
                                            <th style="width: 120px;">Revenue $</th>
                                        </tr>
                                        </thead><!-- end thead -->
                                        <tbody>
                                        <tr th:style="${offer.getProfit() < 0 ? 'color: red;' : 'color: green;'}"
                                            th:each="offer : ${combinedStats.getCurrentStats()}">
                                            <td><h6 th:if="${offer.getCampaignId()!=null}" th:text="'['+${offer.getCampaignId()}+'] '+${offer.getCampaignName()}" class="mb-0">campaign name</h6>
                                                <h6 th:unless="${offer.getCampaignId()!=null}" th:text="${offer.getCampaignName()}" class="mb-0">campaign name</h6>
                                            </td>
                                            <td th:text="${offer.getClicks()}">clicks</td>
                                            <td th:text="${#numbers.formatDecimal(offer.getSpend(), 1, 2)}">cost</td>
                                            <td th:text="${#numbers.formatDecimal(offer.getHoldCost(), 1, 2)}">hold cost</td>
                                            <td th:text="${offer.getApproveCount()}">approve count</td>
                                            <td th:text="${#numbers.formatDecimal(offer.getRevenue(), 1, 2)}">approve cost</td>
                                        </tr>
                                        </tbody><!-- end tbody -->
                                    </table> <!-- end table -->
                                </div>
                            </div><!-- end card -->
                        </div><!-- end card -->
                    </div>
                    <!-- end col -->

                </div>
                <!-- end row -->
                <div class="row">

                    <div class="col-sm-6 col-md-4 col-xl-3">
                        <!-- sample modal content -->
                        <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="myModalLabel">Add credentials</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form th:method="POST" th:action="@{/credentials/save}" th:object="${credentialsADCOMBO}">
                                        <div class="modal-body">
                                            <h5>Enter Network Credentials from Adcombo.com</h5>

                                            <p>You can get it - <strong>(User Profile - Account settings - API key)</strong></p>
                                            <div class="row mb-4">
                                                <input hidden th:field="${credentialsADCOMBO.id}" th:name="${credentialsADCOMBO.id}" th:value="${credentialsADCOMBO.getId()}"/>

                                                <label style="margin-right: -40px" for="example-text-input" class="col-sm-3 col-form-label">API-token</label>
                                                <div class="col-sm-9">
                                                    <input th:field="${credentialsADCOMBO.username}" th:name="${credentialsADCOMBO.username}" th:value="${credentialsADCOMBO.getUsername()}" class="form-control" type="text" id="example-text-input">
                                                </div>
                                                <input hidden name="networkName" value="ADCOMBO" />
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-light waves-effect" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary waves-effect waves-light">Save changes</button>
                                        </div>
                                    </form>

                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                    </div>

                    <div class="col-sm-6 col-md-4 col-xl-3">
                        <!-- sample modal content -->
                        <div id="myModal2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="myModalLabel">Add credentials</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form th:method="POST" th:action="@{/credentials/save}" th:object="${credentialsTF}">
                                        <div class="modal-body">
                                            <h5>Enter Network Credentials from TrafficFactory.com</h5>

                                            <p>You can get it - <strong>(Help - API - Create API key)</strong></p>
                                            <div class="row mb-4">
                                                <input hidden th:field="${credentialsTF.id}" th:name="${credentialsTF.id}" th:value="${credentialsTF.getId()}"/>

                                                <label for="example-text-input" class="col-sm-2 col-form-label">API token</label>
                                                <div class="col-sm-9">
                                                    <input th:field="${credentialsTF.username}" th:name="${credentialsTF.username}" th:value="${credentialsTF.getUsername()}" class="form-control" type="text" id="example-text-input">
                                                </div>
                                            </div>
                                            <div class="row mb-4">
                                                <label for="example-text-input" class="col-sm-2 col-form-label">Token password</label>
                                                <div class="col-sm-9">
                                                    <input th:field="${credentialsTF.password}" th:name="${credentialsTF.password}" th:value="${credentialsTF.getPassword()}" class="form-control" type="text">
                                                </div>
                                                <input hidden name="networkName" value="TF" />

                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-light waves-effect" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary waves-effect waves-light">Save changes</button>
                                        </div>
                                    </form>

                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                    </div>

                    <div class="col-sm-6 col-md-4 col-xl-3">
                        <!-- sample modal content -->
                        <div id="myModal3" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="myModalLabel">Add credentials</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form th:method="POST" th:action="@{/credentials/save}" th:object="${credentialsEXO}">
                                        <div class="modal-body">
                                            <h5>Enter Network Credentials from ExoClick.com</h5>

                                            <p>You can get it - <strong>(User Profile - API token - New API token)</strong></p>
                                            <div class="row mb-4">
                                                <input hidden th:field="${credentialsEXO.id}" th:name="${credentialsEXO.id}" th:value="${credentialsEXO.getId()}"/>

                                                <label style="margin-right: -40px" for="example-text-input" class="col-sm-3 col-form-label">Api-token</label>
                                                <div class="col-sm-9">
                                                    <input th:field="${credentialsEXO.username}" th:name="${credentialsEXO.username}" th:value="${credentialsEXO.getUsername()}" class="form-control" type="text" id="example-text-input">
                                                </div>
                                            </div>
                                            <input hidden name="networkName" value="EXO" />
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-light waves-effect" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary waves-effect waves-light">Save changes</button>
                                        </div>
                                    </form>

                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                    </div>

                </div> <!-- end row -->
            </div>

        </div>
        <!-- End Page-content -->

        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <script>document.write(new Date().getFullYear())</script>
                        © AdsMetrika.
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end d-none d-sm-block">
                            Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesdesign
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>
    <!-- end main content-->

</div>
<!-- END layout-wrapper -->

<!-- Right Sidebar -->
<div class="right-bar">
    <div data-simplebar class="h-100">
        <div class="rightbar-title d-flex align-items-center px-3 py-4">

            <h5 class="m-0 me-2">Settings</h5>

            <a href="javascript:void(0);" class="right-bar-toggle ms-auto">
                <i class="mdi mdi-close noti-icon"></i>
            </a>
        </div>

        <!-- Settings -->
        <hr class="mt-0"/>
        <h6 class="text-center mb-0">Choose Layouts</h6>

        <div class="p-4">
            <div class="mb-2">
                <img src="assets/images/layouts/layout-1.jpg" class="img-fluid img-thumbnail" alt="layout-1">
            </div>

            <div class="form-check form-switch mb-3">
                <input class="form-check-input theme-choice" type="checkbox" id="light-mode-switch" checked>
                <label class="form-check-label" for="light-mode-switch">Light Mode</label>
            </div>

            <div class="mb-2">
                <img src="assets/images/layouts/layout-2.jpg" class="img-fluid img-thumbnail" alt="layout-2">
            </div>
            <div class="form-check form-switch mb-3">
                <input class="form-check-input theme-choice" type="checkbox" id="dark-mode-switch"
                       data-bsStyle="assets/css/bootstrap-dark.min.css" data-appStyle="assets/css/app-dark.min.css">
                <label class="form-check-label" for="dark-mode-switch">Dark Mode</label>
            </div>

        </div>

    </div> <!-- end slimscroll-menu-->
</div>
<!-- /Right-bar -->

<!-- Right bar overlay-->
<div class="rightbar-overlay"></div>

<!-- JAVASCRIPT -->
<script src="../assets/libs/toastr/build/toastr.min.js"></script>

<!-- toastr init -->
<script src="../assets/js/pages/toastr.init.js"></script>




<script src="../assets/libs/jquery/jquery.min.js"></script>
<script src="../assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../assets/libs/metismenu/metisMenu.min.js"></script>
<script src="../assets/libs/simplebar/simplebar.min.js"></script>
<script src="../assets/libs/node-waves/waves.min.js"></script>




<!-- apexcharts -->
<script src="../assets/libs/apexcharts/apexcharts.min.js"></script>

<!-- jquery.vectormap map -->
<script src="../assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="../assets/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-us-merc-en.js"></script>

<!-- Required datatable js -->
<script src="../assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

<!-- Responsive examples -->
<!--<script src="../assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>-->
<!--<script src="../assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>-->

<script src="../assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="../assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="../assets/libs/jszip/jszip.min.js"></script>
<script src="../assets/libs/pdfmake/build/pdfmake.min.js"></script>
<script src="../assets/libs/pdfmake/build/vfs_fonts.js"></script>
<script src="../assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="../assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="../assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

<script src="../assets/libs/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="../assets/libs/datatables.net-select/js/dataTables.select.min.js"></script>


<script src="../assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="../assets/js/pages/datatables.init.js"></script>
<script src="../assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<script src="../assets/libs/toastr/build/toastr.min.js"></script>

<!-- toastr init -->
<script src="../assets/js/pages/toastr.init.js"></script>

<script th:if="${param.error}">
    toastr["error"]("Something went wrong");
    toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-top-center",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": 300,
        "hideDuration": 1000,
        "timeOut": 5000,
        "extendedTimeOut": 1000,
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }
</script>
<!-- App js -->
<script src="../assets/js/app.js"></script>
</body>

</html>
